:root {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}
* {
  font-family: Roboto, Arial, sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.progressive-image-main {
  height: 100% !important;
  object-fit: cover !important;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  outline: none;
  border: 0rem;
}
a {
  color: #76a6ff;
}
h4:hover {
  cursor: pointer;
}
p,
label,
input,
i,
textarea {
  line-height: 150%;
  color: #565656;
}

.page-body {
  padding: 6rem 10% 2rem;
  @media (max-width: 600px) {
    padding: 6rem 5% 2rem;
  }
}
a,
button {
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  & :visited {
    color: inherit;
  }
}
.message {
  color: #76a6ff;
  font-weight: 400;
}
h4 {
  font-size: 1.5rem;
  font-family: Roboto;
  font-weight: 400;
  color: #3c3c3c;
}
h5 {
  font-size: 1.2rem;
  font-family: Roboto;
  font-weight: 400;
  color: #3c3c3c;
  margin-bottom: 0.5rem;
}
.subscribe-section {
  width: 400px;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  @media (max-width: 600px) {
    width: 100%;
  }
}
.main-content {
  width: 75%;
}
.side-posts {
  width: 25%;
  margin-left: 4rem;
  @media (max-width: 768px) {
    width: 100%;
    margin-left: 0rem;
    margin-top: 2rem;
  }
}
.side-posts-desktop {
  display: block;
  @media (max-width: 768px) {
    display: none;
  }
}
.side-posts-mobile {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
@font-face {
  font-family: Roboto;
  font-display: auto;
  src: url(https://fonts.googleapis.com/css?family=Roboto) format('ttf');
}

a {
  line-height: 1.5;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
button:active {
  background-color: white;
}